#database
DB_HOST=HOSTWEB
DB_PORT=PORTWEB
DB_DATABASE=NAMA_DATABASE
DB_USERNAME=USERNAME_DATABASE
DB_PASSWORD=PASSWORD_DATABASE
DB_PREFIX=PREFIX_DATABASE
TIMEZONE=WAKTU_ZONA

#LINK
LINK_WEB=BASE_URL


#nama web
NAMA_WEB=WEB_NAME
NAMA_PEMBUAT=WEB_BUILD
PENGIRIM_EMAIL=EMAIL_TRANSAKSI